rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Allow users to read and write to their own avatar directory.
    match /avatars/{userId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isOwner(userId);
    }
  }
}
